* {
  box-sizing: border-box;
}
.time-entries {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.individual-time {
  border: 1px solid rgb(202, 200, 200);
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background-color: #d6ebfd;
}
i {
  width: 15px;
  height: 15px;
}
#date {
  border: none;
  background-color: #d6ebfd;
}

input {
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

textarea {
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  &:focus {
    outline: 3px solid #e1f3fc;
  }
}

/* Status indicator */
#state {
  color: orange;
  font-weight: bold;
}

/* Form container */
.form-container {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  /* height: 50vh; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #d6ebfd;
}
th {
  color: #012b4e;
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #ddd;
  height: 40px;
}
.required::after {
  content: " *";
  color: red;
}
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
td > select {
  min-width: 200px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  color: #012b4e;
  &:focus {
    outline: none;
  }
}
.task-details-td {
  width: 30%;
}

.task-details {
  width: 90%;
  height: 50px;
  position: relative;
}
.limit {
  font-size: 14px;
  margin-top: 2px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.task-details-warning {
  color: red;
  visibility: hidden;
  letter-spacing: 1px;
}
/* Time picker styles */
.time-picker {
  position: relative;
  max-width: 90%;
}

.time-display {
  /* max-width: 100%; */
  padding: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
}

.time-dropdown {
  height: 100px;
  position: absolute;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
.time-error {
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: #fff;
  color: red;
  font-size: 0.8em;
  white-space: nowrap;
}
.hidden {
  display: none;
}
.time-input {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  padding-right: 2px;
  gap: 5px;
}
.time-input button {
  font-size: 13px;
  padding: 1px;
  height: 12px;
  width: 40px;
}
.time-input input {
  width: 40px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}
#start-ampm,
#end-ampm {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.duration {
  font-weight: 600;
}

.delete-row {
  color: red;
  cursor: pointer;
}
.split-row {
  cursor: pointer;
}

.add-row-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.add-row-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

#showWarningDiv {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 350px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  flex-direction: column;
  z-index: 20;
}
.color-filled {
  height: 50px;
  width: 100%;
  background-color: #054c86;
}
.warning-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

#showWarningDiv button {
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  background-color: #3a6d96;
}

#showWarningDiv .cancelBtn {
  background-color: rgb(248, 80, 80);
}
.submit-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
  align-items: center;
}

.comment-area {
  position: relative;
  padding: 8px;
}
.comment-area textarea {
  width: 100%;
  height: 150px;
  margin-top: -15px;
  text-align: left;
}
.comment-area .limit {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: -10px;
}
.time-sheet-details {
  background-color: #c7e6ff;
  height: 100px;
  text-align: center;
  border-radius: 5px;
  h3 {
    margin: 0;
  }
}
.times {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.submit-btns {
  display: flex;
  align-items: center;
  margin-left: 8px;
  gap: 10px;
}
.submit-btns button,
.clock-in-out-btns button {
  background-color: #105791;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1.2px;
  cursor: pointer;
}
input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  cursor: not-allowed;
}
.start-time-warning-msg,
.end-time-warning-msg {
  color: red;
  font-size: 15px;
  display: none;
}

button:disabled {
  opacity: 0.6;
}

.clock-in:disabled,
.clock-out:disabled {
  pointer-events: none;
}
.comment-error {
  color: red;
  visibility: hidden;
}
.error-field {
  border: 2px solid red !important;
}
.time-error {
  display: block;
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
